<mat-list role="list">
  <mat-list-item>
    <div class="row w-100">
      <div class="col-1" i18n>
        Позиция
      </div>
      <div class="col-3" i18n>
        Имя
      </div>
      <div class="col-3" i18n>
        Клуб
      </div>
      <div class="col-1" i18n>
        Сила
      </div>
      <div class="col-3"></div>
      <div class="col-1" i18n>
        Цена
      </div>
    </div>
  </mat-list-item>
  <mat-list-item *ngFor="let player of listedPlayers"
                 class="mb-3">
    <app-transfer-market-player-item [player]="player" (buy)="buyPlayerClick(player)"
                                     (remove)="removePlayerFromList(player)" class="w-100">
    </app-transfer-market-player-item>
  </mat-list-item>
</mat-list>
