<div class="row my-3 mx-3"
     [ngStyle]="{'height.px': 100 * (index + 1), 'border': '2px dashed black'}">
  <div class="col-12 text-center">
              <span [ngStyle]="{'line-height.px': 25 * (index + 1)}"
                    [ngClass]="{'my-club': (isMyClub$(match).home | async)}">
                <ng-container *ngIf="match.home">{{match.home[config.name]}}}</ng-container>
                <!--{match.home, select, null {-&#45;&#45;} undefined {-&#45;&#45;} other {{{match.home[config.name]}}}}-->
                <!--{{match.home?.nameRu || '-&#45;&#45;'}}-->
              </span>
  </div>
  <div class="col-12 text-center align-middle">
              <span [ngStyle]="{'line-height.px': 25 * (index + 1)}" *ngIf="(matchStats$ | async)?.result"
                    [appMatchTooltip]="match1ToMatch(match)">{{(matchStats$ | async).result}}</span>
    <span [ngStyle]="{'line-height.px': 25 * (index + 1)}" *ngIf="!(matchStats$ | async)?.result" i18n>
                против
              </span>
  </div>
  <div class="col-12 text-center">
              <span [ngStyle]="{'line-height.px': 25 * (index + 1)}"
                    [ngClass]="{'my-club': (isMyClub$(match).away | async)}">
                <ng-container *ngIf="match.away">{{match.away[config.name]}}}</ng-container>
                <!--{match.away, select, null {-&#45;&#45;} other {{{match.away[config.name]}}}}-->
                <!--{{match.away?.nameRu || '-&#45;&#45;'}}-->
              </span>
  </div>
  <!--<mat-divider></mat-divider>-->
</div>
