.office-card--main {
  margin: 40px;
  background-color: navajowhite;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 95%;
}

.office-card--top-panel {
}
.office-card--bot-panel {
  overflow: auto;
}
