<div class="row justify-content-center h-100">
  <div class="col">
    <mat-card class="office-card--main">
      <div class="row justify-content-center h-25 pb-4">
        <div class="col">
          <mat-card class="office-card--top-panel h-100">
            <p class="text-right">{{userService.userName}}</p>
            <button mat-raised-button color="warning" (click)="logOut()" class="float-right ml-3"
                    *ngIf="userService.isLogged()">
              Выйти
            </button>
            <button mat-raised-button color="accent" (click)="navigateToAdmin()" class="float-right"
                    *ngIf="userService.isAdmin()">
              Админка
            </button>
          </mat-card>
        </div>
      </div>
      <div class="row justify-content-center h-75">
        <div class="col" *ngIf="router.url !== '/' + ROUTES.OFFICE">
          <mat-card class="office-card--bot-panel h-100">
            <router-outlet></router-outlet>
          </mat-card>
        </div>
        <div class="col" *ngIf="router.url === '/' + ROUTES.OFFICE">
          <mat-card class="office-card--bot-panel h-100">
            <div class="row h-100">
              <div class="col-3 h-50 py-2" *ngFor="let card of cards; let i = index">
                <mat-card class="h-100">
                  Card {{i}}
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
