.results-main-container {
  /*background-color: black;*/
  height: 100%;
}

.result-card--main {
  margin: 40px;
  /*background-color: black;
  opacity: 95%;*/

}

.mat-card {
  background-color: rgba(0, 0, 0, 0.95) !important;
}

.main-header {
  color: lightskyblue;
}

.white {
  color: white;
}
