<div class="row w-100" *ngIf="match">
    <div class="col-2" i18n>
      Неделя {{week}}
    </div>
    <div class="col-2" i18n>
      {match.isCupMatch, select, true {Кубок Англии} false {{{(currentClub$ | async)[config.leagueName]}}}}
      <!--{{match.isCupMatch ? 'Кубок Англии' : (currentClub$ | async)?.leagueNameRu}}-->
    </div>
    <ng-container *ngIf="getMatchOpponent(match)?.club | async">
      <div class="col-5">
        {{(getMatchOpponent(match).club | async)[config.name]!}}
        <span *ngIf="match.isCupMatch">({{(getMatchOpponent(match).club | async)[config.leagueName]!}})</span>
      </div>
      <div class="col-1 text-center">
        {{getMatchOpponent(match).field | async}}
      </div>
      <div class="col-2 text-center">
            <span [ngClass]="getMatchResultClass(match, matchStats$ | async) | async" [appMatchTooltip]="match" [showGains]="true">
              {{getAdjustedResult(getMatchOpponent(match).field | async, matchStats$ | async)}}
            </span>
      </div>
    </ng-container>
    <ng-container *ngIf="!(getMatchOpponent(match)?.club | async)">
      <div class="col" i18n="schedule when no opponent">
        Прошел в след. раунд
      </div>
    </ng-container>
</div>

<div class="row w-100" *ngIf="!match">
  <div class="col-2" i18n>
    Неделя {{week}}
  </div>
</div>
