<div class="row w-100 m-0 text-sm" *ngIf="match">
    <div class="col-2" i18n>
      Неделя {{week}}
    </div>
    <div class="col-2" i18n>
      {match.isCupMatch, select, true {Кубок Англии} false {{{(currentClub$ | async)[config.leagueName]}}}}
      <!--{{match.isCupMatch ? 'Кубок Англии' : (currentClub$ | async)?.leagueNameRu}}-->
    </div>
    <ng-container *ngIf="(match | matchOpponent)?.club | async">
      <div class="col-5">
        {{((match | matchOpponent).club | async)[config.name]!}}
        <span *ngIf="match.isCupMatch">({{((match | matchOpponent).club | async)[config.leagueName]!}})</span>
      </div>
      <div class="col-1 text-center">
        {{(match | matchOpponent).field | async}}
      </div>
      <div class="col-2 text-center">
            <span [ngClass]="match | matchResultClass:(matchStats$ | async) | async" [appMatchTooltip]="match" [showGains]="true">
              {{matchStats$ | async | adjustedMatchResult:((match | matchOpponent).field | async)}}
            </span>
      </div>
    </ng-container>
    <ng-container *ngIf="!((match | matchOpponent)?.club | async)">
      <div class="col" i18n="schedule when no opponent">
        Прошел в след. раунд
      </div>
    </ng-container>
</div>

<div class="row w-100 m-0 text-sm" *ngIf="!match">
  <div class="col-2" i18n>
    Неделя {{week}}
  </div>
</div>
