<div class="row h-100 align-content-between">
  <div class="col-12">
    <div class="row justify-content-end">
      <div class="col-2">
        <button mat-icon-button color="primary" i18n-matTooltip matTooltip="Замечания и предложения" (click)="supportButtonClick()">
          <mat-icon>mail_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary" i18n-matTooltip matTooltip="Сообщить об ошибке" (click)="bugReportButtonClick()">
          <mat-icon>bug_report</mat-icon>
        </button>
      </div>
      <div class="col-7 text-center">
        <span class="current-week" i18n>Сезон {{currentSeason$ | async}}
          Неделя {{(currentWeek$ | async)}}</span>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col">
            <p class="text-right">{{userService.userName}} (<span>{{(currentClub$ | async)[config.name]}}</span>)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span i18n>Следующий матч:</span>
          </div>
          <div class="col-12">
            <span i18n>против {{(nextOpponent$ | async)?.opponent ? (nextOpponent$ | async)?.opponent[config.name] : ''}}
              ({{(nextOpponent$ | async)?.field}})</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <button mat-raised-button (click)="goThroughXNextWeeks(42)" [disabled]="isGoingThrough">{{42}} weeks</button>
          </div>
          <div class="col-3">
            <button mat-button (click)="goThroughXNextWeeks(GO_THROUGH)" [disabled]="isGoingThrough">{{GO_THROUGH}} weeks</button>
          </div>
          <div class="col-3">
            <button mat-raised-button (click)="goThroughXNextWeeks(43)" [disabled]="isGoingThrough">{{43}} weeks</button>
          </div>
          <div class="col-3">
            <button mat-raised-button (click)="showState()">state</button>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row justify-between">
      <div class="col-2">
        <app-navigate-to-office></app-navigate-to-office>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <button mat-raised-button color="accent" (click)="goToNextWeek()" class="" i18n matTooltip="Перейти к след. неделе" i18n-matTooltip>
          След. неделя
        </button>
      </div>
      <div class="col-4">
        <div class="row justify-content-end">
          <div class="col-8" *ngIf="isUpdateAvailable">
            <button mat-raised-button (click)="updateApp()" class="ml-3"
                     i18n matTooltip="Доступно обновление" i18n-matTooltip>
              Доступно обновление
            </button>
          </div>
          <div class="col-4" *ngIf="userService.isLogged()">
            <button mat-raised-button color="warning" (click)="logOut()" class="ml-3"
                     i18n matTooltip="Выйти из игры" i18n-matTooltip>
              Выйти
            </button>
          </div>
          <div class="col" *ngIf="userService.isAdmin()">
            <button mat-raised-button color="accent" (click)="navigateToAdmin()" class="" i18n>
              Админка
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
