<div class="row mr-0">
  <div class="col">
    <div class="flex flex-row">
      <div class="flex-auto" *ngFor="let round of cupSchedule; let i = index">
        <p i18n class="w-100 text-center">Неделя {{i + 1 | cupRoundToWeek}}</p>
        <div class="flex flex-col">
          <app-cup-match-item [match]="match" [roundIndex]="i" *ngFor="let match of round; let j = index"
                              [numOfRounds]="cupSchedule.length" [matchIndex]="j"></app-cup-match-item>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row overflow-auto w-100 main-container">-->
  <!--<div class="col h-100  w-100">
    <p-organizationChart [value]="cupTreeNode" class="h-100 w-100">
      <ng-template let-node pTemplate="match">
        <div class="node-header p-corner-top">{{node.label}}</div>
        <div class="node-content">
          <app-cup-match-item [match]="node.data"></app-cup-match-item>
        </div>
      </ng-template>
    </p-organizationChart>
  </div>-->

  <!--<p-organizationChart [value]="data2"></p-organizationChart>-->
  <!--<div class="col" *ngFor="let round of cupSchedule; let i = index">
    <p i18n>Раунд {{i + 1}}(неделя {{cupRoundToWeek(i + 1)}})</p>
    <app-cup-match-item [match]="match" [index]="i" *ngFor="let match of round"></app-cup-match-item>
  </div>-->
<!--</div>-->
