<mat-tab-group (selectedTabChange)="loadAppropriateContent($event)">
  <!--          Страны            -->
  <mat-tab label="Страны">
    <ng-template matTabContent>
      <div class="row w-100" *ngIf="(fs.progress | async).loading">
        <div class="col">
          <mat-spinner class="mx-auto my-auto"></mat-spinner>
        </div>
      </div>
      <div class="row w-100">
        <div class="col">
          <table mat-table [dataSource]="countries | async">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="w-25 pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let country; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">NameRu</th>
              <td mat-cell *matCellDef="let country" class="text-center"> {{country.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">NameEn</th>
              <td mat-cell *matCellDef="let country" class="text-center"> {{country.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">Actions</th>
              <td mat-cell *matCellDef="let country" class="text-center">
                <button mat-button color='accent' (click)="editCountryDialog(country)">Edit</button>
                <button mat-button color='warn' (click)="deleteCountry(country)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsCountries; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCountries;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewCountry()" class="float-left mt-5">Добавить страну
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!--       Лиги         -->
  <mat-tab label="Лиги" class="w-100">
    <ng-template matTabContent>
      <div class="row w-100" *ngIf="(fs.progress | async).loading">
        <div class="col">
          <mat-spinner class="mx-auto my-auto"></mat-spinner>
        </div>
      </div>
      <div class="row w-100">
        <div class="col">
          <table mat-table [dataSource]="leagues | async">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let league; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">NameRu</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">NameEn</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="countryNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">Страна</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.countryNameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameRu">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">altNameRu</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.altNameRu || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">altNameEn</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.altNameEn || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
              <td mat-cell *matCellDef="let league" class="text-center">
                <button mat-button color='accent' (click)="editLeagueDialog(league)">Edit</button>
                <button mat-button color='warn' (click)="deleteLeague(league)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsLeagues; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLeagues;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewLeague()" class="float-left mt-5">Добавить лигу
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Клубы">
    <ng-template matTabContent>
      Content 3
    </ng-template>
  </mat-tab>
  <mat-tab label="Игроки">
    <ng-template matTabContent>
      Content 4
    </ng-template>
  </mat-tab>
</mat-tab-group>
