<mat-tab-group (selectedTabChange)="loadAppropriateContent($event)">
  <!--          Страны            -->
  <mat-tab label="Страны">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <table mat-table [dataSource]="countries | async">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="w-25 pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let country; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">NameRu</th>
              <td mat-cell *matCellDef="let country" class="text-center"> {{country.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">NameEn</th>
              <td mat-cell *matCellDef="let country" class="text-center"> {{country.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">Actions</th>
              <td mat-cell *matCellDef="let country" class="text-center">
                <button mat-button color='accent' (click)="editCountryDialog(country)">Edit</button>
                <button mat-button color='warn' (click)="deleteCountry(country)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsCountries; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCountries;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewCountry()" class="float-left mt-5">Добавить страну
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!--       Лиги         -->
  <mat-tab label="Лиги" class="w-100">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <table mat-table [dataSource]="leagues | async">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let league; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">NameRu</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">NameEn</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="countryNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">Страна</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.countryNameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameRu">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">altNameRu</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.altNameRu || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">altNameEn</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.altNameEn || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
              <td mat-cell *matCellDef="let league" class="text-center">
                <button mat-button color='accent' (click)="editLeagueDialog(league)">Edit</button>
                <button mat-button color='warn' (click)="deleteLeague(league)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsLeagues; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLeagues;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewLeague()" class="float-left mt-5">Добавить лигу
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!--       Клубы         -->
  <mat-tab label="Клубы">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <table mat-table [dataSource]="clubs | async | paginate: { itemsPerPage: 10, currentPage: pageClubs }">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let club; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">NameRu</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">NameEn</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="leagueNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">Лига</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.leagueNameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameRu">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">altNameRu</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.altNameRu || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">altNameEn</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.altNameEn || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="budget">
              <th mat-header-cell *matHeaderCellDef class="w-5 text-center">budget</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.budget}} </td>
            </ng-container>

            <ng-container matColumnDef="stadium">
              <th mat-header-cell *matHeaderCellDef class="w-5 text-center">stadium</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.stadium}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
              <td mat-cell *matCellDef="let club" class="text-center">
                <button mat-button color='accent' (click)="editClubDialog(club)">Edit</button>
                <button mat-button color='warn' (click)="deleteClub(club)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsClubs; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsClubs;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewClub()" class="float-left mt-5">
            Добавить клуб
          </button>
        </div>
      </div>
      <div class="row w-100">
        <div class="col text-center">
          <pagination-controls (pageChange)="pageClubs = $event"></pagination-controls>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!--       Игроки         -->
  <mat-tab label="Игроки">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <table mat-table [dataSource]="players | async | paginate: { itemsPerPage: 10, currentPage: pagePlayers }">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let player; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">NameRu</th>
              <td mat-cell *matCellDef="let player" class="text-center"> {{player.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">NameEn</th>
              <td mat-cell *matCellDef="let player" class="text-center"> {{player.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="clubNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">Клуб</th>
              <td mat-cell *matCellDef="let player" class="text-center"> {{player.clubNameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameRu">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">altNameRu</th>
              <td mat-cell *matCellDef="let player" class="text-center"> {{player.altNameRu || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">altNameEn</th>
              <td mat-cell *matCellDef="let player" class="text-center"> {{player.altNameEn || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef class="w-5 text-center">position</th>
              <td mat-cell *matCellDef="let player" class="text-center"> {{player.position}} </td>
            </ng-container>

            <ng-container matColumnDef="power">
              <th mat-header-cell *matHeaderCellDef class="w-5 text-center">power</th>
              <td mat-cell *matCellDef="let player" class="text-center"> {{player.power}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
              <td mat-cell *matCellDef="let player" class="text-center">
                <button mat-button color='accent' (click)="editPlayerDialog(player)">Edit</button>
                <button mat-button color='warn' (click)="deletePlayer(player)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPlayers; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPlayers;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewPlayer()" class="float-left mt-5">
            Добавить игрока
          </button>
        </div>
      </div>
      <div class="row w-100">
        <div class="col text-center">
          <pagination-controls (pageChange)="pagePlayers = $event"></pagination-controls>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #error let-val>
  <div class="row w-100" *ngIf="(val | async) && !(fs.progress | async).loading && !(fs.progress | async).loaded">
    <div class="col">
      Ошибка загрузки
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="row w-100" *ngIf="(fs.progress | async).loading">
    <div class="col">
      <mat-spinner class="mx-auto my-auto"></mat-spinner>
    </div>
  </div>
</ng-template>
