<mat-tab-group (selectedTabChange)="loadAppropriateContent($event)">
  <!--          Страны            -->
  <mat-tab label="Страны">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <table mat-table [dataSource]="countries | async">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="w-25 pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let country; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">NameRu</th>
              <td mat-cell *matCellDef="let country" class="text-center"> {{country.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">NameEn</th>
              <td mat-cell *matCellDef="let country" class="text-center"> {{country.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="w-25 text-center">Actions</th>
              <td mat-cell *matCellDef="let country" class="text-center">
                <button mat-button color='accent' (click)="editCountryDialog(country)">Edit</button>
                <button mat-button color='warn' (click)="deleteCountry(country)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsCountries; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCountries;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewCountry()" class="float-left mt-5">Добавить страну
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!--       Лиги         -->
  <mat-tab label="Лиги" class="w-100">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <table mat-table [dataSource]="leagues | async">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let league; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">NameRu</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">NameEn</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="countryNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">Страна</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.countryNameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameRu">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">altNameRu</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.altNameRu || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-15 text-center">altNameEn</th>
              <td mat-cell *matCellDef="let league" class="text-center"> {{league.altNameEn || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
              <td mat-cell *matCellDef="let league" class="text-center">
                <button mat-button color='accent' (click)="editLeagueDialog(league)">Edit</button>
                <button mat-button color='warn' (click)="deleteLeague(league)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsLeagues; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLeagues;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewLeague()" class="float-left mt-5">Добавить лигу
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!--       Клубы         -->
  <mat-tab label="Клубы">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Поиск по имени</mat-label>
            <input matInput type="text" [formControl]="clubNameSearch">
            <button mat-button *ngIf="clubNameSearch.value" matSuffix mat-icon-button aria-label="Clear" (click)="clubNameSearch.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col">
          <ng-select class="w-100" [items]="leagues | async"
                     [formControl]="leagueSearch"
                     bindLabel="nameRu"
                     bindValue="nameEn"
                     [virtualScroll]="true"
                     [selectOnTab]="true"
                     placeholder="Поиск по лиге"
                     (clear)="leagueSearch.setValue(null)">
          </ng-select>
        </div>
      </div>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <table mat-table [dataSource]="filteredClubs$ | async | paginate: { itemsPerPage: 10, currentPage: pageClubs }">

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef class="pl-0 pr-4">#</th>
              <td mat-cell *matCellDef="let club; let i = index" class="pl-0 pr-4"> {{(pageClubs - 1)*10 + i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="nameRu">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">NameRu</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.nameRu}} </td>
            </ng-container>

            <ng-container matColumnDef="nameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">NameEn</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.nameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="leagueNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">Лига</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.leagueNameEn}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameRu">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">altNameRu</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.altNameRu || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="altNameEn">
              <th mat-header-cell *matHeaderCellDef class="w-10 text-center">altNameEn</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.altNameEn || '---'}} </td>
            </ng-container>

            <ng-container matColumnDef="budget">
              <th mat-header-cell *matHeaderCellDef class="w-5 text-center">budget</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.budget}} </td>
            </ng-container>

            <ng-container matColumnDef="stadium">
              <th mat-header-cell *matHeaderCellDef class="w-5 text-center">stadium</th>
              <td mat-cell *matCellDef="let club" class="text-center"> {{club.stadium}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
              <td mat-cell *matCellDef="let club" class="text-center">
                <button mat-button color='accent' (click)="editClubDialog(club)">Edit</button>
                <button mat-button color='warn' (click)="deleteClub(club)">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsClubs; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsClubs;"></tr>
          </table>
          <button mat-raised-button color="primary" (click)="addNewClub()" class="float-left mt-5">
            Добавить клуб
          </button>
        </div>
      </div>
      <div class="row w-100">
        <div class="col text-center">
          <pagination-controls (pageChange)="pageClubs = $event"></pagination-controls>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!--       Игроки         -->
  <mat-tab label="Игроки">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100">
                    <mat-label>Поиск по имени</mat-label>
                    <input matInput type="text" [formControl]="nameSearch">
                    <button mat-button *ngIf="nameSearch.value" matSuffix mat-icon-button aria-label="Clear" (click)="nameSearch.setValue('')">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col">
                  <ng-select class="w-100" [items]="clubs | async"
                             [formControl]="clubSearch"
                             bindLabel="nameRu"
                             bindValue="nameEn"
                             [virtualScroll]="true"
                             [selectOnTab]="true"
                             placeholder="Поиск по клубу"
                             (clear)="clubSearch.setValue(null)">
                  </ng-select>
                </div>
                <div class="col">
                  <ng-select class="w-100" [items]="positions"
                             [formControl]="positionSearch"
                             [virtualScroll]="true"
                             [selectOnTab]="true"
                             placeholder="Поиск по позиции"
                             (clear)="positionSearch.setValue(null)">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!--<table mat-table [dataSource]="players | async | paginate: { itemsPerPage: 10, currentPage: pagePlayers }">-->
              <table mat-table [dataSource]="playersDS" matSort #plTable>
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef class="pl-0 pr-4">#</th>
                  <td mat-cell *matCellDef="let player; let i = index" class="pl-0 pr-4"> {{i + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="nameRu">
                  <th mat-header-cell *matHeaderCellDef class="w-15 text-center" mat-sort-header>NameRu</th>
                  <td mat-cell *matCellDef="let player" class="text-center"> {{player.nameRu}} </td>
                </ng-container>

                <ng-container matColumnDef="nameEn">
                  <th mat-header-cell *matHeaderCellDef class="w-15 text-center" mat-sort-header>NameEn</th>
                  <td mat-cell *matCellDef="let player" class="text-center"> {{player.nameEn}} </td>
                </ng-container>

                <ng-container matColumnDef="clubNameEn">
                  <th mat-header-cell *matHeaderCellDef class="w-10 text-center" mat-sort-header>Клуб</th>
                  <td mat-cell *matCellDef="let player" class="text-center"> {{player.clubNameEn}} </td>
                </ng-container>

                <ng-container matColumnDef="altNameRu">
                  <th mat-header-cell *matHeaderCellDef class="w-10 text-center" mat-sort-header>altNameRu</th>
                  <td mat-cell *matCellDef="let player" class="text-center"> {{player.altNameRu || '---'}} </td>
                </ng-container>

                <ng-container matColumnDef="altNameEn">
                  <th mat-header-cell *matHeaderCellDef class="w-10 text-center" mat-sort-header>altNameEn</th>
                  <td mat-cell *matCellDef="let player" class="text-center"> {{player.altNameEn || '---'}} </td>
                </ng-container>

                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef class="w-5 text-center" mat-sort-header>position</th>
                  <td mat-cell *matCellDef="let player" class="text-center"> {{player.position}} </td>
                </ng-container>

                <ng-container matColumnDef="power">
                  <th mat-header-cell *matHeaderCellDef class="w-5 text-center" mat-sort-header>power</th>
                  <td mat-cell *matCellDef="let player" class="text-center"> {{player.power}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
                  <td mat-cell *matCellDef="let player" class="text-center">
                    <button mat-button color='accent' (click)="editPlayerDialog(player)">Edit</button>
                    <button mat-button color='warn' (click)="deletePlayer(player)">Del</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsPlayers; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPlayers;"></tr>
              </table>
              <button mat-raised-button color="primary" (click)="addNewPlayer()" class="float-left mt-5">
                Добавить игрока
              </button>
              <button mat-raised-button color="accent" (click)="fillPowersFiltered()" class="float-left mt-5 ml-5">
                Заполнить powers у отфильтрованных в промежутке
              </button>
              <mat-form-field class="w-5">
                <mat-label>from</mat-label>
                <input matInput type="number" [formControl]="fillPower.from" max="10" min="0">
              </mat-form-field>
              <mat-form-field class="w-5">
                <mat-label>to</mat-label>
                <input matInput type="number" [formControl]="fillPower.to" max="10" min="0">
              </mat-form-field>
              <p>Av power = {{averagePower}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <div class="col text-center">
          <mat-paginator [pageSizeOptions]="[20, 50, 100]" #plPaginator></mat-paginator>
          <!--<pagination-controls (pageChange)="pagePlayers = $event"></pagination-controls>-->
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <!--      баг репорты     -->
  <mat-tab label="Баг Репорты">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="error; context: {$implicit: countries}"></ng-container>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
      <div class="row w-100" *ngIf="(fs.progress | async).loaded">
        <div class="col">
          <div class="row">
            <div class="col">
              <mat-list role="list">
                <mat-list-item *ngFor="let report of bugReports$ | async; let i = index">
                  <div class="row w-100">
                    <div class="col-1">
                      {{i + 1}}
                    </div>
                    <div class="col-3">
                      {{report.date | date: 'medium'}}
                    </div>
                    <div class="col-6">
                      {{report.text}}
                    </div>
                    <div class="col-1">
                      <button mat-flat-button color="primary" (click)="openBugReportDialog(report)">open</button>
                    </div>
                    <div class="col-1">
                      <button mat-flat-button color="warn" (click)="deleteReport(report)">del</button>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #error let-val>
  <div class="row w-100" *ngIf="(val | async) && !(fs.progress | async).loading && !(fs.progress | async).loaded">
    <div class="col">
      Ошибка загрузки
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="row w-100" *ngIf="(fs.progress | async).loading">
    <div class="col">
      <mat-spinner class="mx-auto my-auto"></mat-spinner>
    </div>
  </div>
</ng-template>
