.main {

}

.white {
  color: white;
}

.main-header {
  color: lightskyblue;
}

.league-name {
  color: darksalmon;
  font-size: larger;
}

.results-list {
  min-height: 80vh;
  height: 80%;
}

.continue-button {
  /*min-height: 5vh;*/
  position: sticky;
  bottom: 0;
}

.sticky-header {
  position: sticky;
  top: 0;
}

.background-black {
  background-color: #040603ff;
  z-index: 10000000;
}
