.main {

}

.white {
  color: white;
}

.main-header {
  color: lightskyblue;
}

.league-name {
  color: darksalmon;
  font-size: larger;
}

.my-club {
  color: lightskyblue;
}

.scorers {
  font-size: small;
}
