.schedule-header {
  border-bottom: black dashed thin;
}

.schedule-body {
  height: 100px;
}

.match-won {
  color: deepskyblue;
}

.match-lost {
  color: crimson;
}

.match-draw {
  color: goldenrod;
}
