<div class="row schedule-header">
  <div class="col-2" i18n="schedule header">
    Неделя
  </div>
  <div class="col-2" i18n="schedule header">
    Турнир
  </div>
  <div class="col-5" i18n="schedule header">
    Оппонент
  </div>
  <div class="col-1 text-center" i18n="schedule header">
    Поле
  </div>
  <div class="col-2 text-center" i18n="schedule header">
    Результат
  </div>
</div>

<div class="row schedule-body">
  <div class="col">
    <app-schedule-list-item [match]="match" [week]="i + 1"
                            *ngFor="let match of (curClubsSchedule$ | async); let i = index">
    </app-schedule-list-item>
  </div>
</div>

<div class="row justify-content-end">
  <div class="col-1">
    <app-navigate-to-office></app-navigate-to-office>
  </div>
</div>
