<h3 i18n class="header">Расписание {{curSeason$ | async}}-го сезона</h3>

<div class="row schedule-header m-0">
  <div class="col-2" i18n="schedule header">
    Неделя
  </div>
  <div class="col-2" i18n="schedule header">
    Турнир
  </div>
  <div class="col-5" i18n="schedule header">
    Оппонент
  </div>
  <div class="col-1 text-center" i18n="schedule header">
    Поле
  </div>
  <div class="col-2 text-center" i18n="schedule header">
    Результат
  </div>
</div>

<div class="row schedule-body m-0">
  <div class="col">
    <app-schedule-list-item [match]="match" [week]="i + 1"
                            *ngFor="let match of (curClubsSchedule$ | async); let i = index">
    </app-schedule-list-item>
  </div>
</div>
