<div class="tables-schedule-body">

  <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="leagueOrCupTab">
    <mat-tab label="Лига">
      <ng-select class="w-25" [items]="allLeagues$ | async"
                 [formControl]="selectedLeagueName"
                 bindLabel="nameRu"
                 bindValue="nameEn"
                 [virtualScroll]="true"
                 [selectOnTab]="true"
                 [clearable]="false"
                 placeholder="Выбранная лига">
      </ng-select>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Таблица">
          <app-league-table [table]="table$ | async"></app-league-table>
        </mat-tab>

        <mat-tab label="Расписание">
          <app-schedule-tours-list [schedule]="schedule$ | async" [selectedWeek]="selectedWeek.num"
                                   (weekSelected)="setWeekTo($event)">
          </app-schedule-tours-list>
          <app-schedule-tour-matches-list [tour]="selectedWeek.num + 1" [week]="leagueTourToWeek(selectedWeek.num) + 1"
                                          [schedule]="selectedWeek.schedule">
          </app-schedule-tour-matches-list>
        </mat-tab>

        <mat-tab label="Голеадоры">
          <app-player-list [playersStats]="leaguePlayersStats$ | async" [type]="'goals'"></app-player-list>
        </mat-tab>
        <mat-tab label="Ассистенты">
          <app-player-list [playersStats]="leaguePlayersStats$ | async" [type]="'assists'"></app-player-list>
        </mat-tab>
        <mat-tab label="Г+П">
          <app-player-list [playersStats]="leaguePlayersStats$ | async" [type]="'g+a'"></app-player-list>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="Кубок">
      <app-cup-table [cupSchedule]="cupSchedule$ | async"></app-cup-table>
    </mat-tab>
  </mat-tab-group>

  <div class="row justify-content-end">
    <div class="col-1">
      <app-navigate-to-office></app-navigate-to-office>
    </div>
  </div>
</div>

