<div class="tables-schedule-body">
  <div class="row">
    <div class="col-6 text-center hover" (click)="isLeague = true;">
      Лига
    </div>
    <div class="col-6 text-center hover" (click)="isLeague = false;">
      Кубок
    </div>
  </div>

  <div *ngIf="isLeague">
    <div class="row">
      <div class="col text-center hover" *ngFor="let week of (schedule$ | async); let i = index" (click)="setWeekTo(i)">
      <span [ngClass]="{selected: i === selectedWeek.num}">
        {{i + 1}}
      </span>
      </div>
    </div>
    <h3 class="text-center">Неделя {{selectedWeek.num + 1}}</h3>
    <div class="row" *ngFor="let match of selectedWeek.schedule">
      <div class="col-5 text-right">
        {{match.home.nameRu}}
      </div>
      <div class="col-1 text-center">
        -
      </div>
      <div class="col-5 text-left">
        {{match.away.nameRu}}
      </div>
    </div>
  </div>

  <div *ngIf="!isLeague">
    <div class="row align-items-center">
      <div class="col" *ngFor="let round of (cupSchedule$ | async); let i = index">
        <!--<p>Раунд {{i + 1}}</p>-->
        <div class="row my-3 mr-3" *ngFor="let match of round" [ngStyle]="{'height.px': 100 * (i + 1), 'border': '2px dashed black'}">
          <div class="col-12 text-center">
            <span [ngStyle]="{'line-height.px': 25 * (i + 1)}">{{match.home?.nameRu || '---'}}</span>
          </div>
          <div class="col-12 text-center align-middle">
            <span [ngStyle]="{'line-height.px': 25 * (i + 1)}">vs</span>
          </div>
          <div class="col-12 text-center">
            <span [ngStyle]="{'line-height.px': 25 * (i + 1)}">{{match.away?.nameRu || '---'}}</span>
          </div>
          <!--<mat-divider></mat-divider>-->
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-end">
    <div class="col-1">
      <app-navigate-to-office></app-navigate-to-office>
    </div>
  </div>
</div>

