<h2 class="text-center">Добавление нового клуба</h2>
<div>
  <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="nameEn" formControlName="nameEn" required>
          <!--<mat-error *ngIf="nameEn.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="altNameEn" formControlName="altNameEn" required>
          <!--<mat-error *ngIf="nameEn.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="nameRu" formControlName="nameRu" required>
          <!--<mat-error *ngIf="nameEn.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="altNameRu" formControlName="altNameRu" required>
          <!--<mat-error *ngIf="nameEn.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-select class="w-100" [items]="leagueList"
                   formControlName="league"
                   bindLabel="nameRu"
                   [virtualScroll]="true"
                   [selectOnTab]="true"
                   placeholder="Лига">
          <ng-template ng-option-tmp let-item="item">
            <span class="ng-option-label">{{item.nameRu}} ({{item.countryNameRu}})</span>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="budget" formControlName="budget" required>
          <!--<mat-error *ngIf="nameEn.invalid">{{getErrorMessage()}}</mat-error>-->
          <mat-hint>In Millions</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="stadium" formControlName="stadium" required>
          <!--<mat-error *ngIf="nameEn.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="row align-items-end" style="height: 100px">
    <div class="col">
      <button mat-raised-button color="warn" mat-dialog-close="false" class="float-right ml-3">
        Отмена
      </button>
      <button mat-raised-button color="primary" (click)="onSubmit()"
              [disabled]="clubForm.invalid || clubForm.pristine" class="float-right">
        Применить
      </button>
    </div>
  </div>
</div>



