<div class="row" *ngFor="let week of weeksTo(curWeek$ | async)">
  <div class="col-2" i18n>
    Неделя {{week}}
  </div>
  <div class="col-10" *ngIf="(financeRecords$ | async) && (financeRecords$ | async)[week - 1]">
    <div class="row" *ngFor="let record of (financeRecords$ | async)[week - 1]">
      <div class="col">
        {{record.description}}
      </div>
      <div class="col" [ngClass]="{'red': !!record.expense, 'green': !!record.income}">
        {{(record.income || record.expense) | currency}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" [ngClass]="{'red': (curClub$ | async).budget < 0,
   'green': (curClub$ | async).budget > 0}" i18n>
    Бюджет: {{(curClub$ | async).budget | currency}}M
  </div>
</div>
<div class="row justify-content-end">
  <div class="col-1">
    <app-navigate-to-office></app-navigate-to-office>
  </div>
</div>
