<mat-tab-group class="w-100">
  <mat-tab label="Трансфер Маркет">
    <ng-template matTabContent>
      <app-transfer-list [listedPlayers]="listedPlayers$ | async" (buy)="buyPlayerClick($event)"
                         (remove)="removePlayerFromList($event)">
      </app-transfer-list>
      <div class="row">
        <div class="col">
          <button mat-raised-button (click)="sellPlayerClick()">Продать игрока</button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="История трансферов">
    <ng-template matTabContent>
      <app-transfer-history [transferHistory]="transferHistory$ | async"></app-transfer-history>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="row justify-content-end">
  <div class="col-1">
    <app-navigate-to-office></app-navigate-to-office>
  </div>
</div>
