<div class="row season-end-main-container">
  <div class="col">
    <mat-card class="season-end-card--main h-100 white">
      <div class="row h-100">
        <div class="col d-flex flex-column">
          <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab = $event;"
                         mat-align-tabs="center">
            <mat-tab>
              <ng-template mat-tab-label class="white" i18n>Итоги сезона игрока</ng-template>
              <app-players-season-results></app-players-season-results>
              <div class="row">
                <div class="col">
                  <button mat-raised-button color="primary" (click)="selectedTab = 1;" i18n>Далее</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label i18n>Итоги сезона чемпионата</ng-template>
              <app-championship-season-results></app-championship-season-results>
              <div class="row">
                <div class="col">
                  <button mat-raised-button color="accent" (click)="startNewSeason()" i18n>К новому сезону</button>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-1">
          <app-navigate-to-office></app-navigate-to-office>
        </div>
      </div>
    </mat-card>
  </div>
</div>
