<div class="row w-100 pos-{{player.position.toLowerCase()}}">
  <div class="col">
    <div class="row w-100">
      <div class="col-1">
        {{player.position}}
      </div>
      <div class="col-3">
        {{player[config.name]}}
      </div>
      <div class="col-3">
        {{player[config.clubName]}}
      </div>
      <div class="col-1">
        {{player.power}}
      </div>
      <div class="col-3"></div>
      <div class="col-1" i18n="player price | M = millions">
        {{player.price | currency}}M
      </div>
    </div>
    <div class="row justify-content-end w-100">
      <!--for future-->
      <div class="col-1" *ngIf="player.clubNameEn === (curClub$ | async).nameEn">
        <button mat-raised-button (click)="removePlayer()" i18n>Снять</button>
      </div>
      <!---->
      <div class="col-1" matTooltip="Не достаточно денег" i18n-matTooltip
           [matTooltipDisabled]="player.price <= (curClub$ | async).budget">
        <button mat-raised-button (click)="buyPlayer()"
                [disabled]="player.price > (curClub$ | async).budget" i18n>
          Купить
        </button>
      </div>
    </div>
  </div>
</div>
